<footer class="container py-3 ">
    <div class="row mt-5">
      <div class="col-12 col-md">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
        </svg>

        <small class="d-block mb-3 text-muted"> &copy; 2022</small>
        <small class="d-block mb-3 text-muted">AI email writer. Start getting more replies and more sales using it today.</small>
      </div>
      <div class="col-6 col-md">
        <h5> Services</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="{{url_for('index')}}">AI Email Writer</a></li>

        </ul>
      </div>

      <div class="col-6 col-md">
        <h5> About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted">Our AI analyzes your prospect's LinkedIn to create highly personal emails. </a></li>
        
          
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5><i class="bi bi-person-lines-fill"></i> Contact</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted">jeremy@airsales.io</a></li>
          <!-- <li><a class="text-muted">M.Sohaib, Lahore, Pakistan</a></li> -->
        </ul>
      </div>
    </div>
  </footer>