       <!-- Responsive navbar-->
       <nav class="navbar text-center navbar-expand-lg navbar-dark bg-primary">
        <div class="container px-lg-5">
            <a class="navbar-brand"  href="{{url_for('index')}}"><i class="bi bi-arrow-down-circle"></i> Airsales-ai</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              
            </div>
        </div>
    </nav>

 

    <style>
 .current{
        color: aliceblue;
        }
    </style>